# Flutter
build/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.idea/
*.iml

# macOS
macos/Pods/
macos/Flutter/ephemeral/

# iOS
ios/Pods/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/.symlinks/
ios/Flutter/Flutter.podspec
ios/.plugin_symlinks/

# Android
android/.gradle/
android/.idea/
android/app/build/
android/local.properties
android/key.properties

# Web (if using Flutter for Web)
web/.dart_tool/
web/build/

# Next.js
.next/
out/
node_modules/
*.env
*.env.local
*.env.development
*.env.test
*.env.production

# Node.js (Express)
node_modules/
.env
dist/
coverage/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific
.DS_Store
Thumbs.db

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
*.sln
*.user
*.suo
*.rsuser
*.userosscache
*.stackdump

# General
*.bak
*.tmp
*.log
